</article>
<footer>
  <p>❦ Ce site est libre de tout cookie et mesure d'audience.</p>
  <p>Ce site est réalisé avec <a href="https://11ty.dev/">11ty</a> et hébergé sur <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a>. Vous souhaitez participer à ce projet, rejoignez le groupe <a href="https://gitlab.com/penser-concevoir">penser-concevoir</a> sur GitLab.
  </p>
  <p><a href="/un-site-11ty/">Vous aussi, vous voulez un site en 11ty ?</a></p>
  <p>-- pyc pour <a href="https://lieu-subjectif.com/">un lieu subjectif</a> - janvier/septembre 2021</p>
  </footer>
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" id="circle">
    <circle cx="65%" cy="40%" r="30%" fill="LemonChiffon">
  </svg>
</body>
</html>
