<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{{ title }} — Penser concevoir</title>
  <meta name="Description" content="Ressources pour penser et concevoir (ou refuser de concevoir) des solutions numériques">
  <meta charset="utf-8">
  <meta name="generator" content="11ty">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/frugal.css">
</head>
  <body>
  <header><a href="/">Penser concevoir</a></header>
  <article>
